# Django / Python
*.pyc
__pycache__/
*.sqlite3
.env

# Static & Media
staticfiles/
media/blogs/
media/testimonials/

# Blog section
templates/blogs/
portfolio_project/templates/blogs/
apps/blogs/

# Testimonials section
templates/testimonials/
media/testimonials/